*{
    border: none;
    /* background-color: #aca8a8b6; */
    
    
}
.navbar{
    height: 80px;
    background-color: #7D8035;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-icon{
    background-image:url("Images/Icon.jpeg");
    background-size: cover;
     width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.search{
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}

.search:focus{
    outline: none;

}
.location{
    height:40px ;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    /* padding-right: 10px; */
}


.location:focus{
    outline: none;

}
.icons{
    height: 50px;
    width: 60px;
    line-height: 0;
    /* align-items: center; */

}
.search-icon{
    background-color: white;
    border-radius: 5px;
    align-items: center;
   
}


.search-icon i{
    margin-right: 10px;
    color: #555555;
    margin-right: 10px;

}

.button-icon
{
    background-color: white;
    border-radius: 5px;
}
.button-icon i{
    margin-left: 5px;
    color: #555555;
}
.cart-icon{
    color: white;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}
.login-icon{
    color: white;
    font-size: 1.2rem;
    align-items: center;
    
}
.cart{
    color: white;
    font-size: 1.2rem;
    align-items: center;
}
.button{
    width: 144px;
    height: 40px;
    background-color: #D0AF22;
    border-radius: 5px;
    border: none;
}
.bar{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #e7e5e5;
    box-shadow: 5px 2px;
    
    
}
.bar a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.slidebar{
    height: 265px;
    width: 1500px;
    background-image: url(./Images/Birthday-7624.jpg);
    background-size: cover;
}

.articlebar{
    height:216px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    
    background-color: rgb(220, 216, 216);



}
.articlebar div{
    height: 92px;
    width: 92px;
    margin-top: 20px;
    
}
.articlebar img{
    height: 130px;
    width: 130px;
    border-radius: 20px;
}
.articlebar span{
    font-size: large;
    font-weight: 600;
    
}
.pincode{
    height: 80px;
    width: 1020px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 250px;
    border: 2px solid black;
    border-radius: 5px;
    /* padding: 15px 20px; */
    margin-top: 0px;
    background-color: white;
    /* padding-top: 20px; */

    
}
.pincode input{
    height: 45px;
    width: 206px;
    border:1px solid black;
    border-radius: 5px;
    background-color: #e7e5e5;

}
.pincode button{
    height:50px;
    width: 206px;
    background-color: #f6f6f6;
    border: 1px solid black;
    border-radius: 5px;
    
    justify-content: space-evenly;
    font-size: 16px;
    margin-left: 10px;
    background-color: #e7e5e5;


}
.pincodebar{
    height: 4300px;
    width: 100%;
    background-color: rgb(220, 216, 216);
    padding-top: 40px;
    
    
}

.pincode span{
    font-weight: 900;
    font-size: 20px;
    margin-right: 10px;
}

.info
{
    height: 80px;
    width: 100%;
    display: block;
    padding-top: 70px;
    line-height: 1px;
    
}
.info span{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.info h1{
    font-weight: normal;
}
.info h4{
    font-weight: normal;
}
.category{
    height: 76px;
    width: 1400px;
    display: flex;
    background-color: white;
    margin-left: 50px;
    border-radius: 5px;
    margin-top: 50px;
    
    box-shadow: 1px 1px 15px 1px gray;

}
.category button{
    height: 36px;
    width: 81px;
    margin-left: 900px;
    margin-top: 22px;
    background-color: #7D8035;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.category span{
    padding-left: 10px;
}

.imgimg{
    height: 400px;
    width: 900px;
    display: flex;
    margin-left:4px ;
}
.imgimg img{
    height: 400px;
    width: 685px;
    padding-left: 10px;
    padding-right: -5px;
    
}

.imgsmall{
    height: 400px;
    width: 93%;
    display: flex;
    justify-content: space-evenly;
    margin-top:10px ;
    margin-left: 50px;
}
.imgsmall img{
    width: 240px;
    
}
.imgsmall div{
    height: 390px;
    width: 240px;
    margin-top: 10px;
    /* border: 1px solid black; */
    background-position: cover;
    box-shadow: 0px 0px  15px 0px gray;
    border-radius: 5px;
    background-color: white; 
}
.catimg{
    width: 1400px;
    height: 850px;
    background-color: white;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px 1px gray;
    margin-top: 4px;
    padding-top: 10px;
}
.gift{
    height: 385px;
    width: 93%;
    display: flex;
    justify-content: space-evenly;
    margin-top:20px ;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0px 0px  15px 0px gray;
    border-radius: 5px;
}
.gift img{
    width: 240px;
    padding-left: 5px;
    padding-top: 5px;
}
.gift div{
    height: 330px;
    width: 250px;
    margin-top: 30px;
    /* border: 1px solid black; */
    background-position: cover;
    box-shadow: 0px 0px  15px 0px gray;
    border-radius: 5px;
   
    background-color: white;
}

.price{
    font-weight: bold;
    margin-top: 0px;
    padding-left: 90px;
    
}
.title{
    margin-top: 10px;
    margin-left: 50px;
    width: 93%;
    height: 70px;
    background-color: white;
    box-shadow: 0px 0px  15px 0px gray;
    border-radius: 5px;
    display: flex;
}
.title h1{
    
    font-weight: none;
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-left: 5px;

    
}
.imgflower{
    border-radius: 50%;
}
.title button{
    height: 36px;
    width: 91px;
    margin-left: 930px;
    margin-top: 18px;
    margin-right: 50px;
    background-color: #7D8035;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.infobottom{
    height: 300px;
    width: 90%;
    padding-top: 90px;
    padding-left: 80px;
    
}
.infobottom h2{
    font-size: 30px;
}
.infobottom p{
    font-size: large;
    color: #555555;
}
.footericon{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}
.footericon i{
    font-size: 40px;
    margin-left: 60px;
    align-content: center;
    align-items: center;
}
.footer{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.mail-icon input{
    border-bottom:1px solid orange ;
    border-radius: 0px;
    border-top: 1px solid orange;
    margin-top: 0px;
    border: 2px solid orange;
    border-radius: 5px;
     
}
.mail-icon button{
    background-color: orange;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    color: white;
}
.mail-icon label{
    padding-top: 10px;
}

.gift div:hover{
    transition-property: all ;
   transition-timing-function:ease-in ; 
    transition-duration: 1s;
    transform: scale(1.1);
    box-shadow: #555555;
}

